body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.D{ 
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.I{
    grid-area: 1 / 1 / 7 / 3; 
}

.E{
    grid-area: 1 / 3 / 4 / 7; 
}

.P{
    margin: 20px;
    border-top: 2px solid rgb(128, 126, 126);
    grid-area: 4 / 3 / 7 / 7; 
}


